
/* -----CALENDAR WIDGET STUFF----- */

#wp-calendar {empty-cells:show;width:155px;margin:10px auto 0;}

#wp-calendar #prev a,#wp-calendar #next a {font-size:9pt;}

#wp-calendar #next a {padding-right:10px;text-align:right;}

#wp-calendar #prev a {padding-left:10px;text-align:left;}

#wp-calendar a {text-decoration:none;display:block;}

#wp-calendar caption {font:bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;text-align:center;width:100%;}

#wp-calendar th {font-style:normal;text-transform:capitalize;}

#wp-calendar td {text-align:center;padding:3px 0;}

#wp-calendar td.pad:hover {background-color:#fff;}

/* -------------Main Cal -------------- */
ul.ec3_events{

	list-style:none;
	list-style-type:none;

	font-weight:bold;

	color:#333333;

	}

#sidebar ul li .ec3_list_month{

	list-style:none;

	font-weight:bold;

	color:#333333;

}



#sidebar ul li ul li ul li{

	list-style:url(img/cal/bullet.jpg);

	}

	

	#jMonthCalendar { position:relative; }

.MonthlyCalendar .MonthNavigation { border-bottom:solid 1px #ddd; clear:both; height:20px; padding:5px 10px 0 10px; }

.MonthlyCalendar .MonthNavPrev, .MonthlyCalendar .MonthNavNext, .MonthlyCalendar .TodayLink { width:7%; float:left; }

.MonthlyCalendar .YearNavNext, .MonthlyCalendar .YearNavPrev { width:10%; float:right; }

.MonthlyCalendar .MonthName { width:59%; text-align:center; font-weight:bold; float:left; }





.MonthlyCalendar { height:100%; width:100%; border:0px solid #000; margin-bottom:50px; }

.MonthlyCalendar #CalendarHead { width:100%; background:#F7F7F7 none repeat scroll 0 0; }

.MonthlyCalendar #CalendarHead .DateHeader { width:14%; text-align:center; }



.MonthlyCalendar #CalendarBody {  }

.DateBox { vertical-align:top; border:solid 1px #ccc; background-color:#FFFFFF; }

.DateLabel { height:16px; width:100%; background:#F7F7F7 none repeat scroll 0 0; text-align:right; }

.DateLabel .mo{ font-size:8px;}

.DateLabel a { cursor:pointer; padding:0 5px 0px 2px; text-decoration:none; line-height:16px; font-weight:bold; }



#CalendarBody .Inactive, #CalendarBody .Weekend { background:#fafafa none repeat scroll 0 0; }

.Today { background:#A9DFFF none repeat scroll 0 0; }



#jMonthCalendar .Event { font-size:12px; padding:4px; background-color:#F7F7F7; margin-bottom:1px; -moz-border-radius:8px 8px 8px 8px; border:solid 1px #ccc; cursor:pointer; display:block; }

.Event a { text-decoration:none; color:#000; font-size:12px; }

.Event a:hover { text-decoration:underline; }



.calendar{padding: 30px 42px; background: border:1px solid #edecd8;}



